/* ===FARBEN=== */

/*
Blau:         #1F4E8C
Rot:          #A62C21
Grau:         #3d3f45
Hellgrau:     #F5F5F5
silverwhite:  #F7F8FF;
*/


/* ==== FONTS ==== */
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/raleway-v22-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/raleway-v22-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* === GLOBALES === */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #F5F5F5, 0 0 10px #F5F5F5;
}

section {
  padding-bottom: .8rem;
  padding-top: .8rem;
}

@media (max-width: 1024px) {
  section {
    padding-bottom: .6rem;
    padding-top: .6rem;
  }
}

@media (max-width: 768px) {
  section {
    padding-bottom: .4rem;
    padding-top: .4rem;
  }
}

@media (max-width: 480px) {
  section {
    padding-bottom: .2rem;
    padding-top: .2rem;
  }
}


/* === GENERELLES === */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.screenreader {
  display: none;
}

.intro-container {
  text-align: center;
  width: 80%;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.intro-container > h1 {
 font-size: 2rem;
 font-weight: bold;
 letter-spacing: 2px;
 text-transform: uppercase;
}

.intro-container > p {
  /* filter: opacity(75%); */
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 300;
}

@-webkit-keyframes drehen {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes drehen {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* === NAVIGATIONSLEISTE - HEADER === */
.nav-header {
  position: relative;
  background-color: #3d3f45;
  width: 100%;
  height: 50px;
  font-weight: bold;
  z-index: 1030;
}

/* .fixed-top {
  position: fixed;
} */

.nav-header .col-06 {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-header .container,
.nav-header .row,
.nav-header .col-06 {
  height: 100%;
}

.nav-header a > img {
  float: left;
  margin-top: 0.65rem;
  height: 30px;
  width: auto;
}

.nav-header ul {
  float: right;
  height: 100%;
  margin: 0;
  padding-left: 0;
}

.nav-header ul > li {
  display: inline-block;
  margin-left: .4rem;
}

.nav-header ul > li > a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0 .3rem 0 .3rem;
  font-weight: 400;
}

.nav-header ul > li > a:link {
color: #F5F5F5;
text-decoration: none;
}

.nav-header ul > li > a:visited {
  color: #F5F5F5;
  text-decoration: none;
}

.nav-header ul > li > a:hover {
color: #fff;
text-decoration: underline;
}

.nav-header ul > li > a:active {
  color: #F5F5F5;
  text-decoration: underline;
}

.nav-bg {
  background-color: #A62C21 !important;
  height: 100%;
}

#logo-header {
  display: inline-block;
}


/* === NAVIGATIONSLEISTE - HEADER (MOBIL) === */

#nav-mobil-action {
  position: relative;
  display: inline-block;
  float: right;
}

#nav-mobil-button {
  position: absolute;
  right: 0;
  border: 1px solid #111011;
  border-radius: 5px;
  font-size: 2rem;
  width: 50px;
  height: 38px;
  margin-top: .3rem;
  margin-bottom: 10px;
  padding-left: .9rem;
}

#nav-mobil-list {
  position: absolute;
  right: 0;
  top: 50px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: .5s;
}

.checkbox {
  display: none;
  position: absolute;
  right: 0;
}

#hamburg:checked + .hamburg + #nav-mobil-list {
  position: absolute;
  right: 0;
  max-height: 600px;
}

/* #nav-mobil-action:hover > div#nav-mobil-list {
  display: block;
} */

#nav-mobil-list > ul > li {
  display: block;
  background: #3d3f45;
  text-align: center;
  padding: 0 1.3rem;
  height: 50px;
}

#mobil-nav {
  display: none;
}


/* === HINTERGRUND - BANNER === */

#banner-groß {
  background: url("../img/made-simple-banner-groß.png") no-repeat left 0 top 0;
  background-size: contain; /*Dieser Wert sagt aus, das sich das oben berechnete Bild immer dem vorgegebenen Hintergrund anpasst*/
  width: 100%;
  height: 0; /*height wird hier über padding definiert um das Bild skalierbar zu machen*/
  padding-top: 20.83%;  /*Die Prozentzahl ist die prozentuale Höhe im Verhältniss zur Breite | 1920 x 400  | Wieviel sind 400 von 1920 in % | 400 / 1920 * 100*/
  /* padding-bottom: 50px; */
}

#banner-klein {
  background: url("../img/made-simple-banner-klein.png") no-repeat left 0 top 0;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  /* padding-bottom: 50px; */
}


 /* === NEWSLETTER - BEREICH === */

#newslBer {
  width: 100%;
  background: #3d3f45;
  padding-bottom: 0;
  padding-top: 0;
}

#newslBer .col-04,
#newslBer .col-02  {
  padding: .2rem .8rem;
}

#newslBer form {
  width: 100%;
  float: right;
  text-align: right;
  padding: .8rem 0;
}

#newslBer-text {
  color: #F5F5F5;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.newslBer-input {
  border: 1px solid #F5F5F5;
  width: 60%;
  height: 30px;
  font-weight: 600;
  padding: .4rem;
}

input:focus,
textarea:focus {
  color: #1F4E8C;
  font-weight: 600;
}

.bestätige-btn {
  background: #A62C21;
  border: 2px solid #A62C21;
  color: #F5F5F5;
  padding: .4rem;
  font-weight: 600;
  transition-property: background, border;
  transition-duration: 1s;
}

.bestätige-btn:hover {
  background: #1F4E8C;
  border: 2px solid #1F4E8C;
}

.bestätige-btn > span {
  transition-property: color;
  transition-duration: 1s;
}

.bestätige-btn:hover > span {
  color: #F24130;
}

#newslBer-mobil {
  display: none;
}

#newslBer-fieldset {
  border: 3px solid #1F4E8C;
  margin-left: auto;
  margin-right: auto;
}

#newslBer-legend {
  color: #F5F5F5;
  font-weight: 500;
  letter-spacing: 1px;
}


/* === ANIMIERTES LOGO === */

@-webkit-keyframes animiertes-logo {
    0%        {transform: rotateZ(0deg);}
    11.111%   {transform: rotateZ(0deg);}
    22.222%   {transform: rotateZ(90deg);}
    33.333%   {transform: rotateZ(90deg);}
    44.444%   {transform: rotateZ(180deg);}
    55.555%   {transform: rotateZ(180deg);}
    66.666%   {transform: rotateZ(270deg);}
    77.777%   {transform: rotateZ(270deg);}
    88.888%   {transform: rotateZ(360deg);}
    100%      {transform: rotateZ(360deg);}
}

@keyframes animiertes-logo {
    0%        {transform: rotateZ(0deg);}
    11.111%   {transform: rotateZ(0deg);}
    22.222%   {transform: rotateZ(90deg);}
    33.333%   {transform: rotateZ(90deg);}
    44.444%   {transform: rotateZ(180deg);}
    55.555%   {transform: rotateZ(180deg);}
    66.666%   {transform: rotateZ(270deg);}
    77.777%   {transform: rotateZ(270deg);}
    88.888%   {transform: rotateZ(360deg);}
    100%      {transform: rotateZ(360deg);}
}

#animiertes-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #3d3f45;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

#animiertes-logo > img {
  width: 90px;
  height: auto;
  -webkit-animation: animiertes-logo 8s infinite;
          animation: animiertes-logo 8s infinite;
}


 /* === LEISTUNGEN - BEREICH === */

.leistungen-teaser-box {
  background-color: #3d3f45;
  color: #F5F5F5;
  margin-bottom: 1.4rem;
  padding: 1rem 2rem 2.5rem;
  text-align: center;
  width: 60%;
}

.leistungen-teaser-box > h2 {
  color: #F24130;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.leistungen-teaser-box > p {
  font-weight: 300;
  line-height: 1.5rem;
}


.leistungen-teaser-box a {
  border: 1px solid #F5F5F5;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  min-width: 129.2px;
  padding: .3rem .9rem;
  width: 60%;
  transition-property: background, box-shadow, color;
  transition-duration: 1s;
}

.leistungen-teaser-box a:link {
  color: #F5F5F5;
  text-decoration: none;
}

.leistungen-teaser-box a:visited {
  color: #F5F5F5;
  text-decoration: none;
}

.leistungen-teaser-box a:hover {
  background-color: #A62C21;
  box-shadow: 0 0 2px 2px #F5F5F5, 0 0 10px #F5F5F5;
  color: #fff;
  text-decoration: none;
}

.leistungen-teaser-box a:active {
  background-color: #A62C21;
  border: 1px solid #A62C21;
  color: #F5F5F5;
  font-weight: bold;
  text-decoration: underline;
}

#leistungen-bereich .row > .col-03:nth-of-type(odd) > .leistungen-teaser-box {
  margin-left: auto;
  margin-right: 1rem;
}

#leistungen-bereich .row > .col-03:nth-of-type(even) > .leistungen-teaser-box {
  margin-left: 1rem;
  margin-right: auto;
}


/* === VIDEO - BEREICH === */

#video-bereich {
  background-color: #3d3f45;
  color: #F5F5F5;
}

#video-bereich h1 {
  color: #F24130;
}

#video-bereich video {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


/* === SERVICE-BEREICH === */
#service-bereich {
  padding-top: 3rem;
  background: #F5F5F5;
}

.service-box {
  text-align: center;
  width: 65%;
}

.service-icons {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

#fair-icon {
background: #3d3f45 url(./../img/services-sprite.png);
}

#kurz-icon {
background: #3d3f45 url(./../img/services-sprite.png) -120px 0;
}

#mordern-icon {
background: #3d3f45 url(./../img/services-sprite.png) -240px 0;
}

.drehen {
  -webkit-animation: drehen;
          animation: drehen;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
}

.service-box > h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-box > p {
  font-weight: 300;
  line-height: 1.5rem;
}

#service-bereich .row > .col-02:first-child > article {
  margin-right: 0;
  margin-left: auto;
}

#service-bereich .row > .col-02:nth-child(2) > article {
  margin-right: auto;
  margin-left: auto;
}

/* === UEBER-UNS-BEREICH === */

#ueber-uns-bereich article {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#ueber-uns-bereich article > img {
  float: right;
}

#ueber-uns-bereich article > p {
  display: inline-block;
  font-weight: 300;
  line-height: 2rem;
  width: 70%;
}


/* === FOOTER-BEREICH === */

#footer-bereich {
  background-color: #3d3f45;
  color: #F5F5F5;
}

#footer-nav-gesamt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#footer-nav-middle {
  margin-left: auto;
  margin-right: auto;
}

#footer-nav-right {
  margin-left: auto;
  margin-right: 0;
}

#footer-nav-gesamt a > img {
  display: inline-block;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition-property: transform;
  transition-duration: 1s;
}

#footer-nav-gesamt a > img:hover {
  transform: rotate(180deg);
}

#footer-nav-gesamt h1 {
  color: #F24130;
  font-size: 1.2em;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#footer-nav-middle > h2 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

#footer-nav-middle p {
  margin-top: 0;
}

#footer-nav-middle a,
#footer-nav-right a   {
  color: #F24130;
  display: inline-block;
  text-decoration: none;
}

#footer-nav-middle a:link,
#footer-nav-right a:link   {
  color: #F24130;
  text-decoration: none;
}

#footer-nav-middle a:visited,
#footer-nav-right a:visited {
  color: #F24130;
  text-decoration: none;
}

#footer-nav-middle a:hover,
#footer-nav-right a:hover {
  color: #A62C21;
  text-decoration: underline;
}

#footer-nav-middle a:active,
#footer-nav-right a:active {
  color: #A62C21;
  text-decoration: none;
}

#footer-nav-right > span {
  display: inline-block;
  margin-top: .6rem;
}

/* === LEISTUNGEN-SEITE === */

.leistungen-allgemein:nth-of-type(even) {
  background-color: #F5F5F5;
}

#leistungen-allgemein-flex {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5rem;
}

.leistungen-box {
  background-color: #3d3f45;
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-basis: 26.666%;
  justify-content: space-around;
  min-height: 600px;
  padding: 2rem 4rem;
}

.leistungen-empfohlen {
  min-height: 650px;
  flex-basis: 29%;
  box-shadow: 0 0 20px 1px #000;
}

.leistungen-box h2 {
  color: #F24130;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.leistungen-box p {
  font-weight: 300;
  line-height: 1.5rem;
  opacity: 75%;
}

.leistungen-box ul {
  margin-top: 1.5rem;
  padding-left: 0;
}

.leistungen-box ul > li {
list-style: inside;
margin-bottom: .3rem;
}

.leistungen-box li::marker {
color: #F24130;
}

.leistungen-box > button {
  border: 2px solid #F5F5F5;
  width: 180px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  background-color: #3d3f45;
}

/* === KONTAKT-SEITE === */

#userform {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#userform input {
  display: inline-block;
  width: 100%;
}

#userform textarea {
  width: 100%;
  height: 250px;
}

#userform button {
  width: 100px;
  height: 40px;
  margin-top: 0;
}

.kontaktform-input {
  border: 1px solid #3d3f45;
  height: 40px;
  font-weight: 600;
  padding: .4rem;
}


/* === IMPRESSUM === */

#impressum a {
  color: #F24130;
  display: inline-block;
  text-decoration: none;
}

#impressum a {
  color: #F24130;
  text-decoration: none;
}

#impressum a {
  color: #F24130;
  text-decoration: none;
}

#impressum a {
  color: #A62C21;
  text-decoration: underline;
}

#impressum a {
  color: #A62C21;
  text-decoration: none;
}


/* === GRID-SYSTEM === */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: .8rem;
}

.col-01 {width: 16.666%;  }
.col-02 {width: 33.333%;  }
.col-03 {width: 50%;      }
.col-04 {width: 66.666%;  }
.col-05 {width: 83.333%;  }
.col-06 {width: 100%;     }

/* === MEDIAQUERIES GRIDSYSTEM COL- === */

@media (max-width: 1024px) {
  .col-01 {width: 33.333%; }
}

@media (max-width: 768px) {
  .col-01 {width: 50%;    }
  .col-02 {width: 100%;   }
  .col-03 {width: 100%;   }
  .col-04 {width: 100%;   }
  .col-05 {width: 100%;   }
}

@media (max-width: 480px) {
  .col-01 {width: 100%;   }
  .col-02 {width: 100%;   }
  .col-03 {width: 100%;   }
  .col-04 {width: 100%;   }
}

/* === MEDIAQUERIES NAV-HEADER DESKTOP | MOBIL === */

@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #mobil-nav {
    display: block;
  }
}


/* === MEDIAQUERIES NEWSLETTER === */

@media (max-width: 1106px) {

  #newslBer-text {
    font-size: 1.05rem;
    letter-spacing: 2px;
  }

  .newslBer-input {
    width: 100%;
    padding: .4rem;
    margin-bottom: .3rem;
  }

  .bestätige-btn {
    width: 100%;
    padding: .4rem;
  }
}
/*
@media (max-width: 1040px) {
  .newslBer-input {
    width: 100%;
    padding: .4rem;
    margin-bottom: .3rem;
  }

  .bestätige-btn {
    width: 100%;
    padding: .4rem;
  }
}*/

@media (max-width: 768px) {

  #newslBer-desktop {
    display: none;
  }

  #newslBer-mobil {
    display: block;
  }

  #newslBer form {
    text-align: center;
    padding: .4rem 0;
  }

  #newslBer .col-04 {
    display: none;
  }

  #newslBer-text {
    display: none;
  }
}

/* === MEDIAQUERIES LEISTUNGS-BEREICH === */
@media (max-width: 1440px) {
  #leistungen-bereich .intro-container {
    width: 90%;
  }

  .leistungen-teaser-box {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  #leistungen-bereich .intro-container {
    width: 100%;
  }

  .leistungen-teaser-box {
    width: 85%;
  }
}

@media (max-width: 768px) {

  #leistungen-bereich .col-03 {
    width: 100%;
  }

  .leistungen-teaser-box {
    width: 90%;
  }

  #leistungen-bereich .row > .col-03:nth-of-type(odd) > .leistungen-teaser-box {
    margin-left: auto;
    margin-right: auto;
  }

  #leistungen-bereich .row > .col-03:nth-of-type(even) > .leistungen-teaser-box {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 487px) {
  .leistungen-teaser-box {
    width: 100%;
    margin-bottom: .4rem;
  }
}

/* === MEDIAQUERIES VIDEO-BEREICH === */

@media (max-width: 1440px) {
  #video-bereich .intro-container {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  #video-bereich video {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  #video-bereich .intro-container {
    width: 95%;
    margin-bottom: 1rem;
  }
  #video-bereich video {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #video-bereich .intro-container {
    width: 100%;
    margin-bottom: .5rem;
  }

  #video-bereich video {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #video-bereich .intro-container {
    width: 100%;
    margin-bottom: 0;
  }

  #video-bereich video {
    width: 100%;
  }
}

/* === MEDIAQUERIES SERVICE-BEREICH === */

@media (max-width: 1440px) {
  #service-bereich .intro-container {
    width: 90%;
  }
  .service-box {
    width: 75%;
  }
}

@media (max-width: 1100px) {
  #service-bereich .intro-container {
    width: 100%;
  }
  .service-box {
    width: 85%;
  }
}

@media (max-width: 926px) {
  .service-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #service-bereich {
    padding-top: 1.5rem;
  }

  .service-box > p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  #service-bereich {
    padding-top: .5rem;
  }

  .service-box > p {
    width: 80%;
  }
}

/* === MEDIAQUERIES UEBER-UNS-BEREICH === */

@media (max-width: 1440px) {
  #ueber-uns-bereich article {
    width: 70%;
  }

  #ueber-uns-bereich article > p {
    width: 65%;
    line-height: 1.5rem;
  }

  #ueber-uns-bereich article > p:first-of-type {
    margin-top: 2.5rem;
  }

  #ueber-uns-bereich .row:first-of-type > .col-06 {
    padding-bottom: 0;
  }

  #ueber-uns-bereich .row:last-of-type > .col-06 {
    padding-top: 0;
  }
}


@media (max-width: 1024px) {
  #ueber-uns-bereich article {
    width: 85%;
  }

  #ueber-uns-bereich article > p:first-of-type {
    margin-top: 1.2rem;
  }
}


@media (max-width: 768px) {
  #ueber-uns-bereich article {
    width: 90%;
    text-align: center;
  }

  #ueber-uns-bereich img {
    display: none;
  }

  #ueber-uns-bereich article > p {
    width: 80%;
  }

  #ueber-uns-bereich article > p:first-of-type {
    margin-top: 0;
  }
}


@media (max-width: 480px) {
  #ueber-uns-bereich article {
    width: 100%;
  }

  #ueber-uns-bereich article > p {
    width: 90%;
  }
}

/* === MEDIAQUERIES-FOOTER-BEREICH === */

@media (max-width: 1440px) {
  #footer-nav-gesamt {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  #footer-nav-gesamt {
    width: 85%;
  }
}

@media (max-width: 900px) {
  #footer-nav-gesamt {
    width: 95%;
  }
}

@media (max-width: 768px) {
  #footer-nav-gesamt {
    width: 65%;
    grid-template-columns: 1fr;
    text-align: center;
  }

  #footer-nav-gesamt a > img {
    width: 100px;
    height: auto;
  }

  #footer-nav-middle {
    margin-top: 0;
  }

  #footer-nav-middle h1 {
    margin-top: .3rem;
  }

  #footer-nav-right {
    margin-left: auto;
    margin-right: auto;
  }

  #footer-nav-right h1 {
    margin-top: .3rem;
  }
}

@media (max-width: 480px) {
  #footer-nav-gesamt {
    width: 85%;
  }
}

/* === MEDIAQUERIES animiertes-Logo === */

@media (max-width: 480px) {
  #animiertes-logo {
    display: none;
  }
}

/* === MEDIAQUERIES LEISTUNGS-SEITE === */

@media (max-width: 1711px) {
  .leistungen-box {
    flex-basis: 29%;
    padding: 1.5rem 3.5rem;
  }

  .leistungen-empfohlen {
    flex-basis: 32.666%;
  }
}


@media (max-width: 1470px) {
  .leistungen-box {
    align-items: initial;
    padding: 1rem 2rem;
  }
}


@media (max-width: 1265px) {

  .leistungen-allgemein .intro-container {
    width: 80%;
    margin-bottom: .5rem;
  }

  #leistungen-allgemein-flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-bottom: 0;
  }

  .leistungen-box {
    margin-bottom: 2rem;
    min-height: initial;
    justify-content: space-between;
  }
  .leistungen-box > button {
    margin-bottom: 1.5rem;
    margin-top: 1.2rem;
  }
}

@media (max-width: 768px) {

  .leistungen-allgemein .intro-container {
    width: 90%;
  }

  #leistungen-allgemein-flex {
    width: 80%;
  }

  .leistungen-box {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 480px) {
  #leistungen-allgemein-flex {
    width: 90%;
  }
}

@media (max-width: 374px) {
  #leistungen-allgemein-flex {
    width: 100%;
  }
}


/* === MEDIAQUERIES KONTAKT-SEITE === */

@media (max-width: 1440px) {
  #kontakt-seite .intro-container {
    width: 85%;
  }

  #userform {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  #kontakt-seite .intro-container {
    width: 90%;
  }

  #userform {
    width: 90%;
  }
}

@media (max-width: 768px) {

  #kontakt-seite [class*='col-'] {
    padding-bottom: .1rem;
  }

  #userform button {
    width: 100%;
    margin-bottom: 2rem;
  }
}
